body {
  background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/e4Gpia8/side-shot-of-a-chess-board-over-a-black-background-and-the-chess-pieces-lin_v0iu7ixol_thumbnail-1080_01.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
