.head {
  text-align: center;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

body {
  background-image: url(https://images8.alphacoders.com/460/460054.jpg);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.container {
  height: 90vh;
  width: 90vw;
  margin: 2rem auto;
  display: grid;
  grid-template-areas:
    "header header header"
    "left main right"
    "footer footer footer";
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
}

.cell-2 {
  grid-area: main;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2000px;
}

.btn {
  width: 120px;
  height: 25px;
  cursor: pointer;
  border-color: white;
  border-radius: 35px;
}

#password::placeholder,
#username::placeholder {
  color: rgb(53, 52, 52);
}
