#board_container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.dark {
  background-color: saddlebrown;
}

.light {
  background-color: burlywood;
}

body {
  margin: 0;
}

.piece {
  position: absolute;
}

#logo {
  width: 80px;
  height: 80 px;
}

#title {
  font-family: "MedievalSharp", cursive;
  font-size: 55px;
  color: rgb(249, 249, 249);
}

body {
  background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/e4Gpia8/side-shot-of-a-chess-board-over-a-black-background-and-the-chess-pieces-lin_v0iu7ixol_thumbnail-1080_01.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.btn {
  width: 70px;
  height: 30px;
  border-radius: 35px;
  margin-bottom: 40px;
  background-color: black;
  color: white;
}
.container {
  height: 90vh;
  width: 90vw;
  margin: 2rem auto;
  display: grid;
  grid-template-areas:
    "header header header"
    "left main right"
    "footer footer footer";
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
}

.cell-3 {
  background: rgb(60, 60, 60);
  grid-area: main;
  border-radius: 25px;
  font-size: 2.5rem;
  text-align: center;
  padding: 4rem;
  border-style: solid black;
}
